<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='$base/assets/admin/css/style.css'/>
	<link rel='stylesheet' href='$base/assets/admin/css/plugin.css'/>
	<link rel='stylesheet' href='$base/assets/admin/css/landing.css'/>
    <link href="$base/assets/vendors/treeTable/themes/vsStyle/treeTable.min.css" rel="stylesheet" type="text/css" />

	

	<script  type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script  type="text/javascript" src="https://www.noneone.cn/static/js/noneoneblog/assets/vendors/validate/jquery-validate.js"></script>
	<script  type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.js"></script>
	
	<script type="text/javascript" src="$base/assets/admin/js/app.js"></script>
	<script type="text/javascript" src="$base/assets/admin/js/app.plugin.js"></script>
	<script type="text/javascript" src="$base/assets/admin/js/app.data.js"></script>

	#foreach($j in $js)
        <script type="text/javascript" src="$j"></script>
	#end

	<script src="https://cdn.bootcss.com/layer/2.1/layer.js"></script>
    <script src="$base/assets/vendors/treeTable/jquery.treeTable.min.js" type="text/javascript"></script>

	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.js"></script>
	<link href="$base/assets/vendors/pace/themes/pace-theme-minimal.css" rel="stylesheet" />
	
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" href="$base/assets/images/logo/m.png"/>
	<link rel="shortcut icon" href="$base/assets/images/logo/m.png"/>
	
	<style type="text/css">
	body {font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
    </style>
	<script type="text/javascript">
        window.UEDITOR_HOME_URL = '$base/assets/vendors/ueditor/';
	</script>
</head>
<body>
	#parse("/admin/inc/header.vm")
	
	<section id="content">
		<section class="main padder">
		${screen_content}
		</section>
    </section>
</body>
</html>
