##
## 布局-登录页布局
##
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>$!{site_name} - ${title}</title>
    <meta name="keywords" content="Noneone,$!{site_keywords}">
    <meta name="description" content="$!{site_description}">

	$!{site_metas}

	<!-- v3 -->
	 <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">	
	<link rel="stylesheet" href="$base/assets/css/login.css">
	<link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
	
	<!-- JavaScript -->
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://www.noneone.cn/static/noneoneblog/assets/vendors/validate/jquery-validate.js"></script>
	<script src="https://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	
	<!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="$base/assets/images/logo/m99.png"/>
    <link rel="shortcut icon" href="$base/assets/images/logo/m.png"/>
	 <link rel="stylesheet" href="https://cnstatic01.e.vhall.com/static/css/project/account/login.css?v=20171116">
</head>
<body class="sign">
	 <div class="index-main-body" id="particles-js" onselectstart="return false;" style="-moz-user-select:none;font-size:initial;">
        <div class="index-main" data-init="account/login">
			
	#parse("/default/inc/browse_tips.vm")
	
	${screen_content}
		
	   </div>
        <div class="page-bg"></div>
    </div>
	<p class="small">
		$!{site_copyright} <a href="http://www.miitbeian.gov.cn/" target="_blank">$!{site_icp}
	</p>
	
    <script type="text/javascript" id="seajsnode" 3rdlibs="https://cnstatic01.e.vhall.com/3rdlibs" src="https://cnstatic01.e.vhall.com/static/js/vendor.js?v=20171116"></script>
    <script src="https://cnstatic01.e.vhall.com/3rdlibs/yidun/captcha/load.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".page-bg").css('background-image', "url('https://cnstatic01.e.vhall.com/static/images/account/loginbg.jpg')");
        });
    </script>
	
</body>
</html>